<style>
  /* ===== Chroma Syntax Highlighting (rose-pine-moon) ===== */
  .chroma {
    color: #e0def4;
    background-color: #232136;
  }
  .chroma .err {
    color: #eb6f92;
  }
  .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .chroma .line {
    padding-inline: 1rem;
  }

  .chroma .line.hl {
    background-color: rgba(210, 153, 34, 0.15);
    border-left: 4px solid rgba(210, 153, 34, 0.8);
    border-top: 1px solid rgba(210, 153, 34, 0.4);
    border-bottom: 1px solid rgba(210, 153, 34, 0.4);
    padding-left: calc(1rem - 4px);
  }
  .chroma .line.hl + .line.hl {
    border-top: none;
  }
  .chroma .line.hl:has(+ .line.hl) {
    border-bottom: none;
  }
  .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 1em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  .chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 1em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  .chroma .line {
    display: flex;
  }
  .chroma .k {
    color: #3e8fb0;
  }
  .chroma .kc {
    color: #3e8fb0;
  }
  .chroma .kd {
    color: #3e8fb0;
  }
  .chroma .kn {
    color: #c4a7e7;
  }
  .chroma .kp {
    color: #3e8fb0;
  }
  .chroma .kr {
    color: #3e8fb0;
  }
  .chroma .kt {
    color: #3e8fb0;
  }
  .chroma .n {
    color: #ea9a97;
  }
  .chroma .na {
    color: #ea9a97;
  }
  .chroma .nc {
    color: #9ccfd8;
  }
  .chroma .no {
    color: #f6c177;
  }
  .chroma .nd {
    color: #908caa;
  }
  .chroma .ni {
    color: #ea9a97;
  }
  .chroma .ne {
    color: #3e8fb0;
  }
  .chroma .nl {
    color: #ea9a97;
  }
  .chroma .nn {
    color: #ea9a97;
  }
  .chroma .py {
    color: #ea9a97;
  }
  .chroma .nt {
    color: #ea9a97;
  }
  .chroma .nb {
    color: #ea9a97;
  }
  .chroma .bp {
    color: #ea9a97;
  }
  .chroma .nv {
    color: #ea9a97;
  }
  .chroma .vc {
    color: #ea9a97;
  }
  .chroma .vg {
    color: #ea9a97;
  }
  .chroma .vi {
    color: #ea9a97;
  }
  .chroma .vm {
    color: #ea9a97;
  }
  .chroma .nf {
    color: #ea9a97;
  }
  .chroma .fm {
    color: #ea9a97;
  }
  .chroma .l {
    color: #f6c177;
  }
  .chroma .ld {
    color: #f6c177;
  }
  .chroma .s {
    color: #f6c177;
  }
  .chroma .sa {
    color: #f6c177;
  }
  .chroma .sb {
    color: #f6c177;
  }
  .chroma .sc {
    color: #f6c177;
  }
  .chroma .dl {
    color: #f6c177;
  }
  .chroma .sd {
    color: #f6c177;
  }
  .chroma .s2 {
    color: #f6c177;
  }
  .chroma .se {
    color: #3e8fb0;
  }
  .chroma .sh {
    color: #f6c177;
  }
  .chroma .si {
    color: #f6c177;
  }
  .chroma .sx {
    color: #f6c177;
  }
  .chroma .sr {
    color: #f6c177;
  }
  .chroma .s1 {
    color: #f6c177;
  }
  .chroma .ss {
    color: #f6c177;
  }
  .chroma .m {
    color: #f6c177;
  }
  .chroma .mb {
    color: #f6c177;
  }
  .chroma .mf {
    color: #f6c177;
  }
  .chroma .mh {
    color: #f6c177;
  }
  .chroma .mi {
    color: #f6c177;
  }
  .chroma .il {
    color: #f6c177;
  }
  .chroma .mo {
    color: #f6c177;
  }
  .chroma .o {
    color: #908caa;
  }
  .chroma .ow {
    color: #908caa;
  }
  .chroma .p {
    color: #908caa;
  }
  .chroma .c {
    color: #6e6a86;
  }
  .chroma .ch {
    color: #6e6a86;
  }
  .chroma .cm {
    color: #6e6a86;
  }
  .chroma .c1 {
    color: #6e6a86;
  }
  .chroma .cs {
    color: #6e6a86;
  }
  .chroma .cp {
    color: #6e6a86;
  }
  .chroma .cpf {
    color: #6e6a86;
  }
  .chroma .gd {
    color: #eb6f92;
  }
  .chroma .ge {
    font-style: italic;
  }
  .chroma .gi {
    color: #9ccfd8;
  }
  .chroma .gs {
    font-weight: bold;
  }
  .chroma .gu {
    color: #c4a7e7;
  }
</style>
